/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */

body {
    background: #f2f3f5;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    color: #222;
    margin: 0;
    padding: 0;

}

.d-block{
    display: block;
}

.d-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.p-relative{
  position: relative;
}

.bg-t{
    background-color: rgba(242, 243, 245, 0.6);
    /* background: red; */
}

.logo{
    text-decoration: none;
    padding: 2em 0 1em;
    display: block;
}

.logo img{
    height: 5em;
}

  /* Scroll animation
     ========================================================================== */
     .scroll-downs {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        
        width :34px;
        height: 55px;
      }
      .mousey {
        width: 3px;
        padding: 10px 15px;
        height: 35px;
        border: 2px solid #000;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;
      }
      .scroller {
        width: 3px;
        height: 10px;
        border-radius: 25%;
        background-color: #000;
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(.15,.41,.69,.94);
        animation-iteration-count: infinite;
      }
      @keyframes scroll {
        0% { opacity: 0; }
        10% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(15px); opacity: 0;}
      }

      .custom-overlay{
        width: 100%;
        height: 100vh;
        z-index: 100000;
        background: #f2f3f5;
        position: fixed;
        top: 0;
        overflow: hidden;
      }
.copyright{
    font-style: italic;
    font-weight: 300;
    opacity: 0.6;
    font-size: 13px;
    padding: 1em;
    display: block;
}



.bg-cut{
    position: relative;
    height: 300px;
    /* background-image: linear-gradient(#ff9d2f, #ff6126); */
}

.c-logo{
    padding-top: 5em;
    position: relative;
    display: block;
    z-index: 1;
    margin-bottom: 2em;
}
.c-logo img{
    width: 250px;
}

.initiative-heading:after,
.c-logo h1:after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #242424;
    width: 100px;
    margin-left: 15px;
    bottom: -1.1em;
    left: calc(50% - 65px);
} 

.divider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 100px;
    /* drop the height to have a constant angle for all screen widths */
}

.b-fff{
    background: #fff;
}
.c-262624{
    color: #262624;
}

.b-262624{
    background: #262624;
}

.c-8C8881{
    color: #8C8881;
}

.c-000000{
    color: #000;
}

.w-400{
    /* width: 400px; */
    display: block;
    max-width: 100% !important;
    padding: 4em 2em 2em 2em;
    margin: auto;
}

.w-700 {
    /* width: 700px; */
    display: block;
    max-width: 100% !important;
    padding: 3em 2em 2em 2em;
    margin: auto;
}

.bg-u-0{
    height: 55px;
    position: relative;
}

.bg-u-0-img{
    position: absolute;
    width: 100%;
    max-height: 100px;
    top: 0;
    left: 0;
    right: 0;
}

.initiative{
    position: relative;
    padding: 0 2em 2em 2em;
}

.initiative img {
    padding: 4em 0 0 0;
}

a{
    color: #222;
    text-decoration: none;
}

a:hover{
    opacity: 0.6;
}

.initiative-heading{
    position: relative;
}

footer{
    color: #fff;
    padding: 1em;
}

footer img{
    height: 25rpx;
    width: 25px;
    margin: 8px;
    /* padding: 10px 3px; */
}

footer a {
    background: #f2f3f5;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-block;
}

@media only screen and (min-width: 600px) {
    .w-400 {
        max-width: 100%;
        width: 400px;
    }

    .w-700 {
        max-width: 100%;
        width: 700px;
    }
  }